
src/TMS.ArchiveClubs/BookArchive.API/obj/

src/TMS.ArchiveClubs/PublicArchiveGateway.API/obj/

src/TMS.ArchiveClubs/BookArchive.Infrastructure/obj/

src/TMS.ArchiveClubs/BookArchive.Domain/obj/

src/TMS.ArchiveClubs/IdentityArchive.API/obj/

src/TMS.ArchiveClubs/IdentityArchive.API/bin/

src/TMS.ArchiveClubs/Shared/bin/

src/TMS.ArchiveClubs/Shared/obj/

src/TMS.ArchiveClubs/IdentityServer.API/bin/

src/TMS.ArchiveClubs/IdentityServer.API/obj/

src/TMS.ArchiveClubs/BookArchive.Infrastructure/bin/

src/TMS.ArchiveClubs/BookArchive.Domain/bin/

src/TMS.ArchiveClubs/BookArchive.API/bin/

src/TMS.ArchiveClubs/IdentityServer.Infrastructure/bin/

src/TMS.ArchiveClubs/IdentityServer.Infrastructure/obj/

src/TMS.ArchiveClubs/PublicArchiveGateway.API/bin/

src/TMS.ArchiveClubs/IdentityServer.Infrastructure/Migrations/

src/TMS.ArchiveClubs/.vs/TMS.ArchiveClubs/DesignTimeBuild/.dtbcache.v2

src/TMS.ArchiveClubs/MovieArchive.API/bin/

src/TMS.ArchiveClubs/MovieArchive.API/obj/

src/TMS.ArchiveClubs.Presentation/archiveclub-ngweb/node_modules/
/src/TMS.ArchiveClubs/IdentityServer.API/Properties/PublishProfiles
/src/TMS.ArchiveClubs/PublicArchiveGateway.API/Properties/PublishProfiles
*.pubxml
/src/TMS.ArchiveClubs/BookArchive.API/.config/dotnet-tools.json
/src/TMS.ArchiveClubs/MovieArchive.API/.config/dotnet-tools.json
